<header>
   <%= link_to category_expenses_path(@category), class: "back-icon" do %></span><% end %>
  <h2>NEW TRANSACTION 💰</h2>
  <i class="fa fa-search"></i>
</header>

<div class='category-list'>
<div class="form">
  <%= form_with(model: @expense, url: category_expenses_path, method: :post) do |f| %>
  <div>
    <%= f.label :name %> <br />
    <%= f.text_field :name, autocomplete: "off" %>
  </div>
    
  <div>
    <%= f.label :amount %> <br />
    <%= f.number_field :amount %> 
  </div>

    <div>
    <%= f.label :category_id, 'Category' %>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true %>
  </div>

  <div>
		<%= f.submit "Save", class: "button" %>
	</div>
  <% end %>

</div>
